<ol>
    <li class="grule" id="g1">You will not upload, post, discuss, request or link to anything that violates the law of the United States of America. his includes:
        <ol>
            <li>Sexualization of someone under the age of 18 in any way shape or form. </li>
            <li>Animal cruelty</li>
            <li>Calls for violence</li>
        </ol>
    </li>
    <li class="grule" id="g2">You must be 18 or older to use these chats.</li>
    <li class="grule" id="g3">You will not speak or post content in languages other than English.</li>
    <li class="grule" id="g4">You will not post or request anthropomorphic (“furry”) content (pictures, stickers, GIFs, etc).</li>
    <li class="grule" id="g5">You will not post or request personal information (“dox”) or calls to invasion (“raids”). You will not post or request content related to the so called “Islamic State” (ISIS/ISIL).</li>
    <li data-tippy-content="'literally 1984', etc.  This rule has good intentions. We prefer any and all complaints and suggestions be sent to the support bot directly (only the 3 co-founders received these messages) as it ensures maximum visibility for the people who can act upon your complaint. We don't have notifications turned on for the lounges so your complaint, if posted to them, would probably not be seen. Furthermore it safeguards your complaint being deleted in the event of a rogue moderator." class="grule" id="g6">Discussing and especially complaining about secretlounge (its policies, rules, moderation, …) on any bot is heavily discouraged. If you have any suggestions, voice them in <a href="https://t.me/secretloungesupportbot">the support bot</a> or in PM with an admin/moderator.</li>
    <li class="grule" id="g7">You will not evade your ban. Any attempt to evade your ban will result in your ban (even if temporary) being extended to a permanent ban.</li>
    <li class="grule" id="g8">You will not spam, advertise in, or flood the chat. Please note that in some bots (especially those not /b/) discussing a topic excessively when people have asked to stop discussing the topic can be seen as spammy.</li>
    <li class="grule" id="g9">You must not try to impersonate system messages. System messages are identified with special formatting (usually italics).</li>
    <li class="grule" id="g10">Trolling, intentionally flaming and harassing other users is frowned upon, repeated cases of this will result in a ban.</li>
    <li data-tippy-content="Namefagging is annoying." class="grule" id="g11">Mentioning your or others names excessively or when not relevant to the current topic/context is not allowed.</li>
    <li data-tippy-content="While it may be funny at first, it doesn't help us remove content that actually violates the rules, and in some cases leads to cooldowns being given by mistake." class="grule" id="g12">Asking for the moderators ("MOOOODS", "mods", "MODS", etc.) in reply to a message that doesn't break the rules is prohibited. Bear in mind "mods" doesn't notify us, so if you genuinely believe a post is rulebreaking notify <a href="https://t.me/secretloungesupportbot">the support bot</a>.</li>
</ol>
