<ol>
    <li class="grule" id="g1">You will not upload, post, discuss, request or link to anything that violates the law of the United States of America. This includes:
        <ol>
            <li>Sexualization of someone under the age of 18 in any way shape or form. </li>
            <li>Animal cruelty</li>
            <li>Calls for violence</li>
        </ol>
    </li>
    <li class="grule" id="g7">You will not evade your ban. Any attempt to evade your ban will result in your ban (even if temporary) being extended to a permanent ban.</li>
    <li class="grule" id="g8">You will not spam, advertise in, or flood the chat. Please note that in some bots (especially those not /b/) discussing a topic excessively when people have asked to stop discussing the topic can be seen as spammy.</li>
    <li class="grule" id="g10">Trolling, intentionally flaming and harassing other users is frowned upon, repeated cases of this will result in a ban.</li>
</ol>
